In [5]:
import pandas as pd
import numpy as np

Download .tsv file from https://www.imdb.com/interfaces/ \
we download title.basics.tsv and title.ratings.tsv \
and save the data in data folder

In [6]:
title_ratings = pd.read_csv("data/title.ratings.tsv", sep='\t')
# title_ratings = pd.read_csv("data/title.ratings.csv")
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1879
1  tt0000002            5.9       248
2  tt0000003            6.5      1652
3  tt0000004            5.8       161
4  tt0000005            6.2      2478

In [7]:
title_basics = pd.read_csv("data/title.basics.tsv", sep='\t')
# title_basics = pd.read_csv("title.basics.csv")

C:\Users\Sorayut Meeyim\AppData\Local\Temp\ipykernel_16752\2168540828.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  title_basics = pd.read_csv("data/title.basics.tsv", sep='\t')

In [8]:
title_basics = title_basics[['titleType','tconst','primaryTitle', 'originalTitle', 'startYear']]
# title_basics = title_basics[title_basics.titleType=='movie']
title_basics = title_basics[title_basics.startYear.apply(lambda x: str(x).isnumeric())]
title_basics.head()

,titleType,tconst,primaryTitle,originalTitle,startYear
0,short,tt0000001,Carmencita,Carmencita,1894
1,short,tt0000002,Le clown et ses chiens,Le clown et ses chiens,1892
2,short,tt0000003,Pauvre Pierrot,Pauvre Pierrot,1892
3,short,tt0000004,Un bon bock,Un bon bock,1892
4,short,tt0000005,Blacksmith Scene,Blacksmith Scene,1893

In [9]:
print(title_ratings.shape)
print(title_basics.shape)

(1242541, 3)
(7721102, 5)

In [10]:
# title_ratings.to_csv('title.ratings.csv', index=False)
# title_basics.to_csv('title.basics.csv', index=False)

In [11]:
ratings_and_titles = pd.merge(title_ratings.set_index('tconst'), title_basics.set_index('tconst'), left_index=True, right_index=True, how='inner')
ratings_and_titles = ratings_and_titles.drop_duplicates()
ratings_and_titles

,averageRating,numVotes,titleType,primaryTitle,originalTitle,startYear
tconst,,,,,,
tt0000001,5.7,1879,short,Carmencita,Carmencita,1894
tt0000002,5.9,248,short,Le clown et ses chiens,Le clown et ses chiens,1892
tt0000003,6.5,1652,short,Pauvre Pierrot,Pauvre Pierrot,1892
tt0000004,5.8,161,short,Un bon bock,Un bon bock,1892
tt0000005,6.2,2478,short,Blacksmith Scene,Blacksmith Scene,1893
...,...,...,...,...,...,...
tt9916690,6.5,6,tvEpisode,Horrid Henry Delivers the Milk,Horrid Henry Delivers the Milk,2012
tt9916720,5.2,209,short,The Nun 2,The Nun 2,2019
tt9916730,8.7,6,movie,6 Gunn,6 Gunn,2017
tt9916766,6.7,19,tvEpisode,Episode #10.15,Episode #10.15,2019
tt9916778,7.2,34,tvEpisode,Escape,Escape,2019

we download netflix_titles.csv from https://www.kaggle.com/datasets/shivamb/netflix-shows

In [13]:
netflix_titles = pd.read_csv("data/netflix_titles.csv")
print(netflix_titles.shape)
netflix_titles = netflix_titles.dropna(subset=['release_year'])
netflix_titles.release_year = netflix_titles.release_year.astype(np.int64)
print(netflix_titles.shape)
netflix_titles.head()

(8807, 12)
(8807, 12)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [14]:
ratings_and_titles = ratings_and_titles[ratings_and_titles.startYear.apply(lambda x: str(x).isnumeric())]
ratings_and_titles.startYear = ratings_and_titles.startYear.astype(np.int64)
ratings_and_titles.head()

,averageRating,numVotes,titleType,primaryTitle,originalTitle,startYear
tconst,,,,,,
tt0000001,5.7,1879,short,Carmencita,Carmencita,1894
tt0000002,5.9,248,short,Le clown et ses chiens,Le clown et ses chiens,1892
tt0000003,6.5,1652,short,Pauvre Pierrot,Pauvre Pierrot,1892
tt0000004,5.8,161,short,Un bon bock,Un bon bock,1892
tt0000005,6.2,2478,short,Blacksmith Scene,Blacksmith Scene,1893

In [15]:
netflix_titles['title_low'] = netflix_titles['title'].str.lower()
ratings_and_titles['originalTitle_low'] = ratings_and_titles['originalTitle'].str.lower()
ratings_and_titles['primaryTitle_low'] = ratings_and_titles['primaryTitle'].str.lower()

In [17]:
ratings_and_titles.head()

,averageRating,numVotes,titleType,primaryTitle,originalTitle,startYear,originalTitle_low,primaryTitle_low
tconst,,,,,,,,
tt0000001,5.7,1879,short,Carmencita,Carmencita,1894,carmencita,carmencita
tt0000002,5.9,248,short,Le clown et ses chiens,Le clown et ses chiens,1892,le clown et ses chiens,le clown et ses chiens
tt0000003,6.5,1652,short,Pauvre Pierrot,Pauvre Pierrot,1892,pauvre pierrot,pauvre pierrot
tt0000004,5.8,161,short,Un bon bock,Un bon bock,1892,un bon bock,un bon bock
tt0000005,6.2,2478,short,Blacksmith Scene,Blacksmith Scene,1893,blacksmith scene,blacksmith scene

One movie can have multiple year of reviews. So, we have to average it.

In [23]:
ratings_and_titles[ratings_and_titles['primaryTitle']=='Breaking Bad']

,averageRating,numVotes,titleType,primaryTitle,originalTitle,startYear,originalTitle_low,primaryTitle_low,all_averageRating
tconst,,,,,,,,,
tt0903747,9.5,1725555,tvSeries,Breaking Bad,Breaking Bad,2008,breaking bad,breaking bad,16392772.5
tt10975068,7.8,23,tvEpisode,Breaking Bad,Breaking Bad,2019,breaking bad,breaking bad,179.4
tt1718535,7.2,26,tvEpisode,Breaking Bad,Breaking Bad,2011,breaking bad,breaking bad,187.2
tt2329627,6.4,30,tvEpisode,Breaking Bad,Breaking Bad,2012,breaking bad,breaking bad,192.0
tt2931468,5.8,10,tvEpisode,Breaking Bad,Breaking Bad,2012,breaking bad,breaking bad,58.0
tt3075216,8.0,85,tvEpisode,Breaking Bad,Breaking Bad,2013,breaking bad,breaking bad,680.0
tt3105216,8.0,147,tvEpisode,Breaking Bad,Breaking Bad,2013,breaking bad,breaking bad,1176.0
tt3129166,6.7,25,tvEpisode,Breaking Bad,Breaking Bad,2013,breaking bad,breaking bad,167.5
tt3699148,4.8,7,tvEpisode,Breaking Bad,Breaking Bad,2013,breaking bad,breaking bad,33.6
tt3864062,6.3,13,tvEpisode,Breaking Bad,Breaking Bad,2014,breaking bad,breaking bad,81.9
tt4111020,6.0,9,tvEpisode,Breaking Bad,Breaking Bad,2013,breaking bad,breaking bad,54.0
tt6949164,5.4,19,tvEpisode,Breaking Bad,Breaking Bad,2017,breaking bad,breaking bad,102.6
tt7017416,7.6,168,tvEpisode,Breaking Bad,Breaking Bad,2018,breaking bad,breaking bad,1276.8
tt7557776,8.4,25,tvEpisode,Breaking Bad,Breaking Bad,2017,breaking bad,breaking bad,210.0
tt9046084,8.9,262,tvEpisode,Breaking Bad,Breaking Bad,2018,breaking bad,breaking bad,2331.8

In [18]:
ratings_and_titles['all_averageRating'] = ratings_and_titles['averageRating'] * ratings_and_titles['numVotes']
ratings_and_titles.head()

,averageRating,numVotes,titleType,primaryTitle,originalTitle,startYear,originalTitle_low,primaryTitle_low,all_averageRating
tconst,,,,,,,,,
tt0000001,5.7,1879,short,Carmencita,Carmencita,1894,carmencita,carmencita,10710.3
tt0000002,5.9,248,short,Le clown et ses chiens,Le clown et ses chiens,1892,le clown et ses chiens,le clown et ses chiens,1463.2
tt0000003,6.5,1652,short,Pauvre Pierrot,Pauvre Pierrot,1892,pauvre pierrot,pauvre pierrot,10738.0
tt0000004,5.8,161,short,Un bon bock,Un bon bock,1892,un bon bock,un bon bock,933.8
tt0000005,6.2,2478,short,Blacksmith Scene,Blacksmith Scene,1893,blacksmith scene,blacksmith scene,15363.6

In [20]:
grouped_ratings_and_titles = ratings_and_titles.groupby(by=['primaryTitle_low'])[['numVotes', 'all_averageRating']].sum().reset_index()
grouped_ratings_and_titles['averageRating'] = grouped_ratings_and_titles[['all_averageRating']].div(grouped_ratings_and_titles.numVotes, axis=0)
grouped_ratings_and_titles['averageRating'] = grouped_ratings_and_titles['averageRating'].round(1)

grouped_ratings_and_titles

             primaryTitle_low  numVotes  all_averageRating  averageRating
0                      !next?        18               93.6            5.2
1           !que ve el bisbe!        12               73.2            6.1
2       !women art revolution       245             1641.5            6.7
3                           #        10               31.0            3.1
4                    # my ass         9               48.6            5.4
...                       ...       ...                ...            ...
931075   þegar kanínur fljúga        36              302.4            8.4
931076       þegar það gerist        21              109.2            5.2
931077        þegiðu og syntu        12              110.4            9.2
931078              þröng sýn        13               97.5            7.5
931079               þú og ég        12               76.8            6.4

[931080 rows x 4 columns]

In [21]:
final = pd.merge(netflix_titles, grouped_ratings_and_titles, left_on=['title_low'], right_on=['primaryTitle_low'], how='left')
final = final.drop(['title_low', 'primaryTitle_low', 'all_averageRating'], axis=1)
final = final.rename(columns={'averageRating':'IMDB_rating', 'numVotes':'IMDB_numvotes'})
print(final.shape)
final.head()

(8807, 14)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB_numvotes,IMDB_rating
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",6412.0,7.4
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",3455.0,6.7
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2469.0,7.0
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",205.0,6.6
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,67700.0,9.1

This is our final dataset

In [22]:
final.to_csv("data/netflix_titles_with_IMDB.csv", index=False)